$primary-font: "Avenir Next Cyr", sans-serif;
$primary-font-light: "Avenir Next Cyr Light", sans-serif;
$primary-font-medium: "Avenir Next Cyr Medium", sans-serif;
$primary-font-bold: "Avenir Next Cyr Heavy", sans-serif;

// font-family: 'Avenir Next Cyr', sans-serif;
// font-family: 'Avenir Next Cyr Thin', sans-serif;
// font-family: 'Avenir Next Cyr Ultra Light', sans-serif;
// font-family: 'Avenir Next Cyr Light', sans-serif;
// font-family: 'Avenir Next Cyr Medium', sans-serif;
// font-family: 'Avenir Next Cyr Heavy', sans-serif;
